table, td {
  border: 3px solid steelblue;
  border-radius: 30px;
  background-color: white;
  border-style:outset;
  margin: 6% auto;




}

td {
  text-align: center;
  height:90px;
  width:90px;


}

button{
position: absolute;
margin-left: 55%;
margin-top: -4%;
border: 2px solid #22427C;
border-style: outset;
background-color: powderblue;
height: 40px;
width: 100px;
}

body{
  background-color:#9dd7d8;

}

h1{

text-align: center;
width: 100%;
font-family:'Libre Baskerville', serif;
font-size: 100px;
}

.scores{
position: absolute;
  border: 3px solid cadetblue;
  width: 140px;
  height: 80px;
margin-left: 68%;
text-align: center;
border-style: inset;
border-radius: 30px;
font-size: 27px;

}

.scores:first-of-type {
   margin-top: 15%;
 }

 #score{
   background-color: steelblue;

 }

 #meilleur{
   margin-top: 6%;
   background-color: paleturquoise;

 }

.losange{
position: absolute;
height: 100%;
width: 33.5%;
top:0%;
left:33.5%;
background-image: url("./2.jpg");
background-repeat: no-repeat;
z-index: -1;

}
